footer{
    margin-top: 5rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    max-height: max-content;

    flex-wrap: wrap;
    img{
        width: fit-content;
    }
}

.footer-left {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    font-family: arial;
    font-size: 25px;
}

.footer-heading{
    display: flex;
    flex-direction: row;
    max-height: 300px;
    justify-content: start;
    padding: 10px;

    flex-wrap: wrap;
    color: #10ADA3;
}

.telephone {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 10px;

    flex-wrap: wrap;
}

.tel-numbers{
    display: flex;
    flex-direction: column;
    align-self: center;

    flex-wrap: wrap;
}

.Instagram {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 10px;

    flex-wrap: wrap;
}

.Instagram > a {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
}


.email {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.email > a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

.footer-right{
    display: flex;
    flex-direction: column;
    font-family: arial;
    font-size: 25px;
    align-items: end;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
}
.footer-contact,
.footer-team,
.footer-projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #01306D;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    a{
        color: white;
    }
}

.footer-right-logo {
    width: 150px;

}

.body-footer-r{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.body-footer-r:hover{
    border-bottom: 2px solid #10ADA3;
}

.body-footer{
    color: black;
    text-decoration: none;
}

.body-footer:hover {
    color: #01306D;
}