.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
}

.header-logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.header-list {
    display: flex;
    gap: 5rem;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    list-style: none;
    

    flex-wrap: wrap;
    a{
        font-size: 25px;
    }
}

.header-list-item {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.header-list-item:hover {
    border-bottom: 2px solid #10ADA3;
}

.logo-header{
    width: 10%;
    height: auto;
}


.contact-button {
    font-size: 24px;
    display: flex;
    height: 100%;
    padding: 1rem;
    align-items: center;

    border: none;
    border-radius: 5px;
    background-color: #01306D;
    color: white;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #10ADA3;
}

