body{
    margin-left: 5rem;
    margin-right: 5rem;
}
p,
a
{
    /* Poppins Regular */
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size : 24px;
}

.poppins-bold{
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.rubik-mono {
    font-family: "Rubik Mono One", monospace;
    font-weight: 500;
    font-style: normal;
}

h1{
    font-family: "Rubik Mono One", monospace;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "Rubik Mono One", monospace;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Rubik Mono One", monospace;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
}

.logo-simple{
    display: flex;
    justify-content: end;
    height: 300px;
    margin-right: 100px;

    flex-wrap: wrap;
}

.home-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
    h1{
        color: #01306D;
        text-align: center;
    }
}

.home-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;

}

.home-project-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    h3,
    h2{
        margin: 0;
    }
    h2{
        color: #10ADA3;
    }
}

.home-project p{
    font-size : 32px;
}

.logo{
    height: 100px;
    padding-bottom: 20px;
}

.offer{
    margin-top: 8rem;
}

.offer-tb{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h3,
    p{
        text-align: center;
    }
}

.offer-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Abstand zwischen Linie und Text */
}

.offer-heading {
    position: relative;
    color: #10ADA3;
    margin: 0;
}

/* horizontale Linien links und rechts */
.offer-intro::before {
    flex: 0.1; /* kürzere linke Linie */
}

.offer-intro::after {
    flex: 0.9; /* längere rechte Linie */
}

.offer-intro::before,
.offer-intro::after {
    content: "";
    height: 6px; /* Dicke der Linie */
    background-color: #10ADA3;
}

.offer-tb1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-tb23{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    .offer-tb2, .offer-tb3{
        width: 30rem;
    }
    .offer-tb2{
        h3,
        p{
            text-align: left;
        }
    }
    .offer-tb3{
        h3,
        p{
            text-align: right;
        }
    }
}